#contact {
    padding: 50px 20px;
    background-color: #F4F4F4;
    text-align: center;
  }
  
  #contact h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color:rgb(255, 210, 47);

  }
  
  #contact p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    color: #555;  }