.squares-canvas {
    position: fixed;
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca el fondo detrás de todo */
    background-color: #000000; /* Fondo negro */
  }

